server:
  port: 8081

spring:
  application:
    name: ms-clientes-personas
  datasource:
    url: jdbc:postgresql://postgres:5432/clientes_db
    username: admin
    password: admin
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  jackson:
    mapper:
      accept-case-insensitive-enums: true
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.devsu.msclientespersonas: DEBUG
    org.springframework.web: DEBUG
